<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 添加propertyConfigurer bean 这个类也是Spring提供的 -->
	<!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
		<!--&lt;!&ndash; 把properties文件的路径注入给location属性，前面要加classpath: &ndash;&gt;-->
		<!--<property name="location" value="classpath:mysql_wyh.properties"/>-->
	<!--</bean>-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="password" value="123456"></property>
		<property name="username" value="root"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/shujub"></property>
	</bean>
	<!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">-->
		<!--<property name="driverClassName" value="${jdbc.driverClass}"></property>-->
		<!--<property name="password" value="${jdbc.password}"></property>-->
		<!--<property name="username" value="${jdbc.user}"></property>-->
		<!--<property name="url" value="${jdbc.url}"></property>-->
	<!--</bean>-->
    <bean id="shucaiaction" class="com.appcrews.javaee.maicai.dal.Dataimpl">
		<property name="dataSource" ref="dataSource">
		</property>
	</bean>

	<context:component-scan base-package="com.appcrews.javaee.maicai.*" />
	<bean id="orderdao" class="com.appcrews.javaee.maicai.dal.Orderimpl">
	<property name="dataSource" ref="dataSource">
	</property>
</bean>
	<bean id="admindao" class="com.appcrews.javaee.maicai.dal.Adminimpl">
		<property name="dataSource" ref="dataSource">
		</property>
	</bean >
	<bean id="useraction" class="com.appcrews.javaee.maicai.dal.Userimpl">
	    <property name="dataSource" ref="dataSource">
		</property>
	</bean>

</beans>